.assignmentDescription {
    -fx-background-color: #8AA8AE;
    -fx-prompt-text-fill: #F7F7F7;
    -fx-background-radius: 15;
}

.assignmentTitle {
    -fx-text-fill: #F7F7F7;
    -fx-font-size: 48;
}

.placeHolderThumbnail {
    -fx-background-color: #000000;
    -fx-prompt-text-fill: #F7F7F7;
    -fx-font-size: 16;
}