.text-field {
    -fx-background-color: #8AA8AE;
    -fx-prompt-text-fill : #000000;
    -fx-text-fill: #000000;
    -fx-font-size: 48;
    -fx-background-radius: 300;
}

.password-field {
    -fx-background-color: #8AA8AE;
    -fx-prompt-text-fill : #000000;
    -fx-text-fill: #000000;
    -fx-font-size: 48;
    -fx-background-radius: 300;
}

.label {
    -fx-text-fill: #F7F7F7;
    -fx-font-size: 256;
}

.error {
    -fx-text-fill: #a00404;
    -fx-font-size: 128;
}